<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    {% include navbar.html %}

    <main>
        <div id="overlay"> 
            {{ content }}
        </div>
    </main>

    {% include sidebar.html %}

    <!--
        <div id="video-container">
            <video autoplay muted loop playsinline> 
                <source src="{{ '/assets/video/video.mp4' | relative_url }}" type="video/mp4">
            </video>
        </div>
    -->

</body>

</html>