<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>


<body>
    {% include navbar.html %}

    <section class="hero-spacer">
        <div class="hero-container">
            <h1 class="terminal-text">{{ page.hero-spacer }}</h1>
        </div>
    </section>
    
    <div class="main-content-wrapper">
        <div id="main-content">
            {{ content }}
        </div>
    </div>
        
    <!--
        <div id="video-container">
            <video autoplay muted loop playsinline> 
                <source src="{{ '/assets/video/matrix.mp4' | relative_url }}" type="video/mp4">
            </video>
        </div>
    -->
    {% include sidebar.html %}
    {% include footer.html %}
    
</body>

</html>